/* comment */

body {
	background-color: #5C872D;
	color: white;
}

h3 {
	color: #CCC02B;
}

.container_logo {
	position: relative;
	text-align: center;
	color: white;
}

.center {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.container {
    overflow: hidden;
    background-color: #C0A27F;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container a:hover {
    background-color: #9CB29E;
}

.active {
	background-color: #604F31;
	color: white;
}

a:hover {
	color: #943E0F;
}

li {
	list-style-type: none;
}

li a{
	color: #CCC02B;
}