/* comment */

body {
	background-color: #9CAC88;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
}

h3 {
	color: black;
	margin: 5px 5px;
}

p {
	margin: 10px 20px;
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #C2C1BD;
	margin: 10px 20px;
}

.index {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("images/11.jpg");
	background-size: cover;
	margin: 10px 20px;
	}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #5D5851;
	color: white;
}

.head {
	height: 25px;
}

.container {
    overflow: hidden;
    background-color: #5D5851;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#title {
	display: inline-block;
	color: white;
	/* border-left: 2px solid;
	border-right: 2px solid; */
	font-size: 22px;
	padding: 0px 10px;
	margin: 0px 10px;
	text-align: center;
}

.image_container {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 50%;
	float: left;
}

.container a {
    display: inline-block;
    font-size: 16px;
    color: #C0A27F;
    text-align: center;
    padding: 20px 16px;
	margin: 0px 10px;
    text-decoration: none;
}

.container a:hover {
    background-color: #9CB29E;
}

.active {
	background-color: white;
	color: #C0A27F;
}

#table {
	border: 2px solid;
	float: right;
	width:25%;
	margin: 10px;
	
}

#profile {
	border: 2px solid;
	float: left;
	width: 23%;
	margin: 10px;
}

#clip {
	border: 2px solid;
	float: right;
	height: 55%;
	margin: -5px 20px;
}

#logo {
	width: 25%;
	float: left;
	margin: 20px;
}

a:hover {
	color: #943E0F;
}

li {
	list-style-type: none;
}